<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Heart Bars</h1>
    <p class="lead"></p>
    <img ng-src="assets/images/hearbars_logo_orig.png" width="10%" alt="lovebar">
    <h4>Login or Register with:</h4>
    <a href="/login" type="button"  class="btn black">LOCAL LOGIN</a>
    <a href="/signup" type="button" class="btn black">LOCAL SIGNUP</a>
    <a href="" type="button" class="btn btn-primary" ng-click="loginOauth('facebook')">FACEBOOK</a>
  </div>
</header>

<!-- bars  -->



<!-- <div ui-view="bars"></div>
 -->


<!-- features  -->
<!-- <div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>
 -->



<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
