<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<!-- bars  -->
<div class="container" >
  <div class="row">
    <div class="col-lg-12" ng-controller="BarCtrl">
      <h1 class="page-header">Bars:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="bar in bars">
        <li><a href="#">{{bar.name}}</a>
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
               <span class="sr-only">100% Complete (success)</span>
            </div>
          </div>
          <button type="button" class="close" ng-click="deleteBar(bar)">&times;</button>
        </li>
      </ul>
    </div>
  </div>

  <form class="bar-form">
    <label>What do you want to track?</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new bar here." ng-model="newBar">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addBar()">+</button>
      </span>
    </p>
  </form>
</div>


<!-- features  -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form>
</div>




<footer class="footer">
  <div class="container">
      <p>Angular Fullstack v2.0.13 |
        <a href="https://twitter.com/tyhenkel">@tyhenkel</a> |
         <a href="https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open">Issues</a></p>
  </div>
</footer>
