<div ng-show="isLoggedIn()" class="container" >
  <div class="row">
    <div class="col-lg-6">
      <h1 class="page-header">My bars:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-6 col-lg-6 col-sm-6" ng-repeat="bar in bars">
        <li><a href="#">{{bar.name}}</a><button type="submit" class="btn btn-primary" ng-click="addPercent(bar)">+</button>
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped " role="progressbar" aria-valuenow="{{bar.fulfillment}}" aria-valuemin="0" aria-valuemax="100" style="width: {{bar.fulfillment}}%">
              <span class="sr-only">{{bar.fulfillment}}% Complete</span>
            </div>
          </div>
          <button type="button" class="close" ng-click="deleteBar(bar)">&times;</button>
        </li>
      </ul>
      <!-- <form class="bar-form nav-stacked ">
          <label>What do you want to track?</label>
          <p class="input-group">
            <input type="text" class="form-control" width="20%" placeholder="Add a new bar here" ng-model="newBar">
            <span class="input-group-btn">
              <button type="submit" class="btn btn-primary" ng-click="addBar()">+</button>
            </span>
          </p>
        </form> -->

    </div>

    <div ui-view="partner"></div>
  </div>
</div>
